doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    link(rel="icon" href="/icons/MOC.svg")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://kit.fontawesome.com/5f0b44facf.js" crossorigin="anonymous")
  body
    header(class="header")
      div(class="headerInnerContainer") 
        a(href="/", class="appName") Members Only Club
        a(href="/", class="appNameAcronym") MOC
        div(class="headerLinks") 
          if (currentUser)
            a(href="/new-message", class="newMessageLink headerLink") 

              i(class="fa fa-plus")
              | Message
            a(href="/log-out", class="logOutLink headerLink")

              i(class="fa fa-arrow-right-to-bracket")
              | Log Out
          else
            a(href="/log-in", class="logInLink headerLink")

              i(class="fa fa-arrow-right-to-bracket")
              | Log In
            a(href="/sign-up", class="signUpLink headerLink") 

              i(class="fa fa-user-plus")
              | Sign Up
    block content
    footer(class="footer") 
      div(class="footerElement") 
        p Developed by 
        a(href="https://github.com/pbrebner/members-only") 
          | Patrick Brebner
          i(class="fa fa-github")

