extends layout 

block content 
    h1= title 
    form(action="", method="post")
        div(class="formElement")
            label(for="username") Username
            input(type="text", id="username", name="username", required)
        div(class="formElement")
            label(for="password") Password 
            input(type="password", id="password", name="password", required) 
        div(class="formElement")
            button(type="submit") Log In