extends layout 

block content 
    main.main
        h1= title 
        form(action="", method="post")
            div(class="formElement span2")
                label(for="username") Username
                input(type="text", id="username", name="username")
            div(class="formElement span2")
                label(for="password") Password 
                input(type="password", id="password", name="password") 
            div(class="formElement span2")
                button(type="submit", class="submitBtn") Log In

        if (errors)
            div(class="errorContainer") 
                p(class="errorMessage")!= errors