extends layout 

block content 
    main.main
        h1= title 
        form(action="", method="post")
            div(class="formElement span2")
                label(for="title") Title
                input(type="text", name="title", id="title", required) 
            div(class="formElement span2")
                label(for="message") Message
                textarea(name="message", id="message", cols="30", rows="10", required)  
            div(class="formElement span2")
                button(type="submit", class="submitBtn") Create New Message
