extends layout 

block content 
    main.main
        h1= title 
        form(action="", method="post")
            div(class="formElement") 
                label(for="firstName") First name 
                input(type="text", id="firstName", name="firstName", required, value=(undefined===user ? '' : user.firstName))
            div(class="formElement")
                label(for="lastName") Last name 
                input(type="text", id="lastName", name="lastName", required, value=(undefined===user ? '' : user.lastName))
            div(class="formElement span2")
                label(for="email") Email 
                input(type="email", id="email", name="email", required, value=(undefined===user ? '' : user.email)) 
            div(class="formElement")
                label(for="password") Password 
                input(type="password", id="password", name="password", required)
            div(class="formElement")
                label(for="passwordConfirm") Confirm password
                input(type="password", id="passwordConfirm", name="passwordConfirm", required) 
            div(class="formElement span2")
                label(for="adminCode") Admin Code (Optional)
                input(type="text", id="adminCode", name="adminCode")
            div(class="formElement span2")
                button(type="submit", class="submitBtn") Submit

        if (errors)
            p please fix the following errors:
            ul
                for error in errors
                    li!= error.msg