:root {
    --main-white: #fffaff;
    --main-blue: #2ba1f6;
    --accent-blue: #133ea3;
    --accent-pink: #f22c5e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    min-height: 100vh;
    background-color: var(--main-white);

    display: flex;
    flex-direction: column;
}

.accentColor {
    color: var(--accent-pink);
}

/* Styles for Header */
.header {
    padding: 15px;

    display: flex;
    justify-content: center;
}

.headerInnerContainer {
    max-width: 1200px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.appName,
.appNameAcronym {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--main-blue);
    text-decoration: none;
}

.appName {
    display: none;
}

.headerLinks {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerLink {
    font-size: 0.8rem;
    color: black;
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 8px;
}

.headerLink:hover {
    scale: 1.1;
}

@media (min-width: 380px) {
    .headerIcon {
        display: inline;
    }

    .appName {
        display: block;
    }

    .appNameAcronym {
        display: none;
    }
}

@media (min-width: 700px) {
    .header {
        padding: 40px;
    }

    .appName {
        font-size: 2.2rem;
    }

    .headerLinks {
        gap: 50px;
    }

    .headerLink {
        font-size: 1.2rem;
    }
}

/* Styles for Main Section */
.main {
    padding: 15px;

    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

h1 {
    font-size: 1.8rem;
    text-align: center;
}

.appDescription {
    font-size: 1.1rem;
    font-weight: 500;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.messageContainer {
    padding: 15px;
    border-radius: 15px;
    background-color: rgb(229, 230, 230);
    min-width: min(calc(100vw - 40px), 450px);
    max-width: 600px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.span2 {
    grid-column: 1 / -1;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

    min-width: min(calc(100vw - 40px), 400px);
}

.right-justify {
    justify-self: end;
}

.formElement {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formElement label {
    font-size: 1rem;
}

.formElement input,
.formElement textarea {
    padding: 4px;
    font-size: 0.9rem;
}

.formElement textarea {
    resize: none;
}

.submitBtn {
    padding: 10px;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    background-color: var(--accent-blue);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submitBtn:hover {
    filter: brightness(130%);
}

.deleteMessage {
    color: var(--accent-pink);
    font-weight: 800;
    text-decoration: none;
}

.deleteMessage:hover {
    text-decoration: underline;
}

@media (min-width: 600px) {
    .main {
        padding: 50px;
    }

    h1 {
        font-size: 2.6rem;
    }

    form {
        grid-template-columns: 1fr 1fr;
    }
}

/* Styles for Error Handling */
.errorContainer {
    padding: 30px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.errorHeader {
    font-weight: 600;
}

.errorList {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.errorMessage {
    color: red;
}

/* Styles for Footer */
.footer {
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footerElement {
    display: flex;
    gap: 3px;
}

.footerElement a {
    text-decoration: none;
    color: black;

    display: flex;
    align-items: center;
    gap: 3px;
}
